{% extends 'student/student_base.html' %} {% load widget_tweaks %} {% block content %} {% load static %}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'student_style.css' %}" type="text/css" />
</head>
<br />
<br />

<div class="container">
  <div class="row">
    <div class="col-md-4 col-xl-6">
      <div class="card bg-c-blue order-card">
        <div class="card-block p-3">
          <h5 class="mb-4">所有考试</h5>
          <h2 class="text-right">
            <i class="fas fa-book mr-3"></i>
            <span style="font-size: 30px;">{{ dict.total_course }}</span>
          </h2>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-xl-6">
      <div class="card bg-c-yellow order-card">
        <div class="card-block p-3">
          <h5 class="mb-4">试题总数</h5>
          <h2 class="text-right">
            <i class="fas fa-question-circle mr-3"></i>
            <span style="font-size: 30px;">{{dict.total_question}}</span>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<script src="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

{% endblock content %}
