<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <style>
      body,
      html {
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
      }

      .jumbotron {
        flex-grow: 1;
        margin-bottom: 0;
        background-color: transparent !important;
      }
    </style>
  </head>

  <body>
    {% include "exam/navbar.html" %}
    <br />
    <br />
    <div class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
      <div class="container text-center">
        <h1 class="display-4">学生页</h1>
        <p class="lead">欢迎使用智慧考试系统</p>
        <hr class="my-4" />
        <p>注册或登录系统</p>
        <p class="lead">
          <a class="btn btn-primary" href="student_signup" style="border-radius: 0%" role="button">创建一个新账户</a>
          <a class="btn btn-success" href="student_login" style="border-radius: 0%" role="button">账户登录</a>
        </p>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
      </div>
    </div>
  </body>
</html>
